/*Variables CSS*/
:root {
  --Color-Primario: #17202a;
}

.container-app {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #fdfefe;
}

.app h2 {
  font-size: 20px;
}

.app p {
  font-size: 14px;
  color: var(--Color-Primario);
  margin-top: 20px;
}

.app {
  max-width: 200px;
  width: 50%;
  margin: 30px;
}
.app .img-app {
  width: 56px;
  height: 56px;
  margin: auto;
}
@media screen and (max-width: 1100px) {
  .container-app {
    flex-wrap: wrap;
  }
}

@media screen and(min-width:400px) {
  .container-app {
    display: block;
  }
}

.app a {
  text-decoration: none;
  display: inline block;
  padding: 10px;
  margin-top: 20px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.app a:hover {
  background: #2fb4cc;
  color: white;
}
