/*Estas li­neas de CSS las usaremos para dar estilo a la cabecera:*/
#main-header {
    background: #85c1e9;
    color: white;
    height: 80px;
  }
  #main-header a {
    color: black;
  }
  /*
   * Logo
   */
  #logo-header {
    float: left;
    text-decoration: none;
  }
  #logo-header:hover {
    color: #0b76a6;
  }
  
  #logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
  }
  
  #logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
  }
  
  .logo-p {
    height: 80px;
    width: 170px;
    margin-left: 10px;
  }
  /*
   * Navegacion
   */
  nav {
    float: right;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 5px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
  }
  
  nav ul li a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    transition: all 400ms ease;
  }
  
  nav ul li a:hover {
    background: #3498db;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
    color: black;
  }
  /*Con estos estilos aplicaremos diseño al contenido:*/
  /**/ /**/
  #main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #main-content header,
  #main-content .content {
    padding: 40px;
  }