.container-product {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #fbfcfc;
}

.colum1 h2 {
  font-size: 20px;
}

.colum1 p {
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
}

.colum1 {
  max-width: 400px;
  width: 50%;
  margin: 30px;
}

/*Producto*/
.box-product {
  border: 1px solid white;

  width: 80%;
  margin: 20px;
}

.colum2 h2 {
  font-size: 20px;
}

.colum2 label {
  font-size: 18px;
}

.colum2 .row {
  margin-top: 20px;
  display: flex;
  width: 100%;
}

.row img {
  width: 36px;
  height: 36px;
  padding: 0%;
}

.row label {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 140px;
  padding: 0%;
}

.row2 {
  margin-top: 20px;
}

.row2 img {
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 1100px) {
  .container-product {
    flex-wrap: wrap;
  }

  .colum1 {
    max-width: 300px;
  }
  .colum2,
  .colum3 {
    margin-top: 40px;
  }
}

@media screen and(min-width:400px) {
  .container-product {
    display: block;
  }
}
